<section id="qa" class="py-3">
    <div class="container">
        <h1 class="text-center py-1">Quality Assurance</h1>
        <div class="row">
            
            <!-- Project Card 1 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-custom mb-4">
                    <img src="assets/img/AHT.png" class="card-img-top card-img-top-custom" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">Aplikasi Hitung Tani</h5>
                        <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                        <a href="https://drive.google.com/file/d/10DCwQH2cCn6-uV6lsCThFZQN-Ul4fBkU/view?usp=sharing" target="_blank" class="btn btn-primary mt-3">View Project</a>
                    </div>
                </div>
            </div>
            <!-- Project Card 2 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-custom mb-4">
                    <img src="assets/img/000.png" class="card-img-top card-img-top-custom" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Website SILABING 19</h5>
                        <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                        <a href="https://drive.google.com/file/d/1XlHiCaooUTWPSeiHgep6sW6VNE8sZ9pb/view?usp=sharing" target="_blank" class="btn btn-primary mt-3">View Project</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>