<section id="program" class="py-3">
    <div class="container">
        <h1 class="text-center py-1">Projects</h1>
        <div class="row">
            
            <!-- Project Card 1 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-custom mb-4">
                    <img src="assets/img/ps.png" class="card-img-top card-img-top-custom" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">Mahsyar'i Fashion</h5>
                        <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                        <a href="https://akmalany31.github.io/MahsyariFashion.github.io/"  target="_blank" class="btn btn-primary mt-3">View Project</a>
                    </div>
                </div>
            </div>
            <!-- Project Card 2 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-custom mb-4">
                    <img src="assets/img/ps.png" class="card-img-top card-img-top-custom" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Unibookstore</h5>
                        <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                        <a href="https://drive.google.com/file/d/1bCbAJqm3a08aIbZIzDqX51vS-olhBAyl/view?usp=sharing" target="_blank" class="btn btn-primary mt-3">View Project</a>
                    </div>
                </div>
            </div>
            <!-- Project Card 3 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-custom mb-4">
                    <img src="assets/img/dis.png" class="card-img-top card-img-top-custom" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Form Stunting OPD</h5>
                        <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                        <a href="https://github.com/akmalany31/form-stunting-opd" target="_blank" class="btn btn-primary mt-3">View Project</a>
                    </div>
                </div>
            </div>
            <!-- Project Card 4 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-custom mb-4">
                    <img src="assets/img/bah.png" class="card-img-top card-img-top-custom" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Badi'ul Ardhi Husna Umrah & Hajj Travel</h5>
                        <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                        <a href="https://akmalany31.github.io/BAH-Hajj.github.io/" target="_blank" class="btn btn-primary mt-3">View Project</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>