<!-- EDUCATION SECTION -->
<section id="education" class="text-center py-3">
    <div class="container">
        <h1 class="title">EDUCATION</h1>
        <div class="row">
            <!-- Universitas -->
            <div class="col-md-6">
                <img src="assets/img/logo-unikom.png" class="img-edu" alt="Universitas Komputer Indonesia">
                <h3>Universitas Komputer Indonesia</h3>
                <p>Information System</p>
                <p>GPA: 3.95/4 (Summa Cum Laude)</p>
            </div>
            <!-- SMA -->
            <div class="col-md-6">
                <img src="assets/img/logo-19.png" class="img-edu" alt="SMA Negeri 19 Bandung">
                <h3>SMA Negeri 19 Bandung</h3>
                <p>Mathematics and Science</p>
                <p>UN: 71.75/100</p>
            </div>
        </div>
    </div>
</section>

<!-- SKILL SECTION -->
<section id="skill" class="d-flex align-items-center justify-content-center" >
    <div class="container text-center">
        <h1 class="title">SKILLS</h1>
        <p class="text-center">These skills were gained after I graduated, through certification training, bootcamps, and self-study while working on projects:</p>
        <div class="row d-flex justify-content-center">
            <!-- Tools -->
            <div class="col-md-6">
                <div class="card skill-card">
                    <div class="card-body">
                        <h3 class="card-title py-3">Tools</h3>
                        <ul class="skill-list">
                            <li>Microsoft Word <span>Intermediate</span></li>
                            <li>Microsoft Excel <span>Intermediate</span></li>
                            <li>Microsoft PowerPoint <span>Intermediate</span></li>
                            <li>Google Colab <span>Basic</span></li>
                            <li>Microsoft SQL Server <span>Basic</span></li>
                            <li>Talend <span>Basic</span></li>
                            <li>Tableau <span>Basic</span></li>
                            <li>Power BI <span>Basic</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Programming -->
            <div class="col-md-6">
                <div class="card skill-card">
                    <div class="card-body">
                        <h3 class="card-title py-3">Programming</h3>
                        <ul class="skill-list">
                            <li>HTML <span>Intermediate</span></li>
                            <li>CSS <span>Intermediate</span></li>
                            <li>JavaScript <span>Basic</span></li>
                            <li>PHP <span>Basic</span></li>
                            <li>Python <span>Basic</span></li>
                            <li>SQL <span>Intermediate</span></li>
                            <li>Angular <span>Learning</span></li>
                            <li>Laravel <span>Basic</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
