<section id="projects" class="py-3">
  <div class="container">
      <h1 class="text-center">Projects</h1>
      <div class="row">
          
          <!-- Project Card 1 -->
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="card card-custom mb-4">
                  <img src="assets/img/data.png" class="card-img-top card-img-top-custom" alt="Project 2">
                  <div class="card-body">
                      <h1>Data</h1>
                      <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                      <a href="data" class="btn btn-primary">View Project</a>
                  </div>
              </div>
          </div>
          <!-- Project Card 2 -->
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="card card-custom mb-4">
                  <img src="assets/img/program.png" class="card-img-top card-img-top-custom" alt="Project 3">
                  <div class="card-body">
                      <h1>Programming</h1>
                      <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                      <a href="programming" class="btn btn-primary">View Project</a>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>