<section id="projects" class="py-3">
    <div class="container">
        <h1 class="text-center py-1">Projects</h1>
        <div class="row">
            
            <!-- Project Card 1 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-custom mb-4">
                    <img src="assets/img/xl.png" class="card-img-top card-img-top-custom" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">Coffee Orders Dashboard</h5>
                        <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                        <a href="coffeeOrders_Project.xlsx" download="Project1_AHA.xlsx" class="btn btn-primary mt-3" >View Project </a>
                    </div>
                </div>
            </div>
            <!-- Project Card 2 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-custom mb-4">
                    <img src="assets/img/dc.png" class="card-img-top card-img-top-custom" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Bike Loan Dashboard</h5>
                        <div class="d-flex gap-3 mt-3">
                        <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                        <a href="https://github.com/akmalany31/Analyst-Sepeda" target="_blank" class="btn btn-primary mt-3">View Project</a>
                        <a href="https://bit.ly/bike-analyst" target="_blank" class="btn btn-primary mt-3" >View Colab </a>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Project Card 3 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-custom mb-4">
                    <img src="assets/img/ra.png" class="card-img-top card-img-top-custom" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Final Task Data Engineer</h5>
                        <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                        <a href="https://drive.google.com/file/d/1PIJhh80o_WfotLoouX8xB_AasJ9iLK9C/view?usp=drive_link" target="_blank" class="btn btn-primary mt-3">View Project</a>
                    </div>
                </div>
            </div>
            <!-- Project Card 4 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-custom mb-4">
                    <img src="assets/img/ra.png" class="card-img-top card-img-top-custom" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Final Task Data Engineer 2</h5>
                        <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                        <a href="https://drive.google.com/file/d/1L08xh-qASDny4Xz9lINtuNXH-v_krVkB/view?usp=drive_link" target="_blank" class="btn btn-primary mt-3">View Project</a>
                    </div>
                </div>
            </div>
            <!-- Project Card 5 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-custom mb-4">
                    <img src="assets/img/google.png" class="card-img-top card-img-top-custom" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Google Capstone Track 1
                            Case Study 2: Bellabeat</h5>
                        <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                        <a href="https://drive.google.com/file/d/1Qxk3eX9mjXBM_fgyXpdk5yGPiiFtADSx/view?usp=drive_link" target="_blank" class="btn btn-primary mt-3">View Project</a>
                    </div>
                </div>
            </div>
            <!-- Project Card 6 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-custom mb-4">
                    <img src="assets/img/DV.png" class="card-img-top card-img-top-custom" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Data Visualization</h5>
                        <!-- <p class="card-text">A brief description of the project. This can include key features, technologies used, and the project's purpose.</p> -->
                        <a href="https://public.tableau.com/app/profile/annisaha" target="_blank" class="btn btn-primary mt-3">View Project</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>